.table {
  width: 100%;
}

.header {
  width: 100%;
  font-size: 1.5rem;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.header,
.row {
  .data,
  .actions {
    display: grid;
    place-items: center;
  }

  .data {
    width: 40%;
  }

  .actions {
    width: 10%;
  }
}

.input {
  border: 1px solid var(--lines-main);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.3rem;
}
