# Logs
logs
*.log
npm-debug.log*

# Builds
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Tests
coverage
**/__screenshots__/**
/.next/
.vercel

package-lock.json