.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1600px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.method {
  width: 150px;
}

.input {
  border: 1px solid var(--lines-main);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.3rem;
}

.label {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
