@use '@/styles/utils/mixins' as *;

.aside {
  border-right: 1px solid var(--lines-dark);
  padding: 1.5rem 1rem;

  &__root {
    @include colors('light');
    width: 15rem;
  }

  &__client {
    @include colors('dark');
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
  }
}
