.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem 0 3rem;
  word-break: break-word;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .card {
    flex: 1;
  }

  & > div > div {
    cursor: pointer;
    height: 100%;
  }

  & > div > div > [role='img'] {
    color: var(--secondary-light);
    margin: 1rem auto;
  }
}
