.card {
  padding: 2rem 1rem;
  background: var(--background-main);
  border: 1px solid var(--lines-main);
  border-radius: 0.5rem;
  width: 15rem;
  height: auto;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-dark);
}
