
@mixin border-default($border-color: var(--lines-main)) {
  border: 2px solid $border-color;
  border-radius: var(--border-radius);
}

@mixin shadow {
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-dark);
}
