.tabsContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabsHeader {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab {
  flex: 1;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  color: #555;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f1f1f1;
  }
}

.tab.active {
  color: var(--primary-main);
  border-bottom: 2px solid var(--primary-main);
}

.tabsContent {
  margin-top: 1rem;
  height: 38vh;
  overflow: auto;
}
