@use '@/styles/utils/mixins' as *;

.error {
  &__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
  }

  h1 {
    text-align: center;
  }

  &__code {
    background-color: var(--background-dimmed);
    color: var(--primary-contrast-text);
    padding: 1rem 2rem;
    width: 60%;
    font-family: monospace;

    @include border-default();

  }

  &__code_box {
    width: 60%;
    max-height: 150px;
    overflow: auto;

    .error__code {
      width: 100%;
      word-wrap: break-word;
      display: inline-block;
      text-align: left;
      font-size: small;
      padding: 0.5rem;
    }
  }
}
