@use '@/styles/utils/mixins' as *;

.input__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.input__field {
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 1;
  border: none;
  outline: none;
  background: transparent;

  &_primary {
    @include border-default();
  }
  
  &_secondary {
    @include border-secondary();
  }

  &:focus {
    outline: none;
    border-color: var(--primary-main);
  }
}

/* For showing through placeholder */
.input__field:not([value=""]) {
  -webkit-text-fill-color: transparent;
}

.input__view {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  white-space: pre;
  overflow-x: auto;
  user-select: none;
  scrollbar-width: none;
}

.input__field,
.input__view {
  padding: 0 0.5rem;
}

.input__view::-webkit-scrollbar {
  display: none;
}

.input__variable {
  outline: 1px dotted;
  border-radius: 0.1rem;

  &_defined {
    color: var(--success-dark);

    &.input__variable_hovered {
      background-color: var(--success-light);
    }
  }

  &_undefined {
    color: var(--error-dark);

    &.input__variable_hovered {
      background-color: var(--error-light);
    }
  }
}
