.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__header {
    margin-bottom: 0.25rem;
  }

  &__content {
    flex-grow: 1;
  }
  
  &__scroll {
    overflow: auto;
  }
}
