.footer {
  padding: 0.5rem 1rem;
  background: var(--background-dark);
  color: var(--text-main);
  font-size: 0.8rem;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;

  & ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
