.table {
  width: 100%;
  table-layout: fixed;

  &__header {
    font-size: 1.25rem;
    position: sticky;
    top: 0;
    background-color: var(--background-content);
    z-index: var(--z-index-table);

    &_sticky-space {
      top: 3rem;
    }
  }

  &__header,
  &__row {
    &-data,
    &-actions {
      text-align: center;
      padding: 0.5rem;
    }

    &-data {
      width: 40%;
      word-break: break-word;
      vertical-align: middle;
    }

    &-actions {
      width: 10%;
      vertical-align: baseline;
    }

    @media screen and (max-width: 1078px) {
      &-data {
        width: calc(100% - 100px) / 2;
      }

      &-actions {
        width: 100px;
      }
    }
  }

  &__footer {
    position: sticky;
    bottom: 0;
    background-color: var(--background-content);

    &_sticky-space {
      bottom: 1rem;
    }
  }
}
