.table {
  width: 100%;
  table-layout: fixed;

  &__header {
    font-size: 1.25rem;
  }

  &__header,
  &__row {
    &-data,
    &-actions {
      text-align: center;
      vertical-align: middle;
      padding: 0.5rem;
    }

    &-data {
      width: 40%;
      word-break: break-word;
    }

    &-actions {
      width: 10%;
    }

    @media screen and (max-width: 1078px) {
      &-data {
        width: calc(100% - 100px) / 2;
      }

      &-actions {
        width: 100px;
      }
    }
  }
}
