@use '@/styles/utils/mixins' as *;

@mixin button-styles($type) {
  background-color: var(--#{$type}-main);
  color: var(--#{$type}-contrast-text);
  @include border-default(var(--#{$type}-main));

  &:hover,
  &:active {
    background-color: var(--#{$type}-dark);
    border-color: var(--#{$type}-dark);
  }

  &:disabled {
    background-color: var(--#{$type}-light);
    border-color: var(--#{$type}-light);
    cursor: not-allowed;
  }

  &:focus {
    outline: 2px solid var(--#{$type}-dark);
    outline-offset: 2px;
  }
}

.button_primary {
  padding: 0.5rem 1rem;
  @include button-styles('primary');
}

.button_secondary {
  padding: 0.5rem 1rem;
  @include button-styles('secondary');
}

.button_transparent {
  @include border-secondary(transparent);
  background-color: transparent;
  color: var(--text-main);

  &:hover,
  &:focus  {
    border-color: var(--text-main);
  }
}

.button_icon {
  padding: 0.25rem;

  &.button_action {
    @include button-styles('secondary');

    &_delete {
      color: var(--content-color-error)
    }
  }
}

